
.app {
    background-color: aliceblue;
}
.container {
    margin: auto;
    max-width: 600px;
    padding: 30px;
    margin-top: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}

.todoList {
    
}

.todoElement {
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
}

.title {

}

.buttonX {
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todoInput {
    display: flex;
}

.todoInputText {
    flex: 10;
    padding: 5px;
}

.todoInputButton {
    flex: 1;
}